html {
  background-color: #dddddd;
}

.header {
  margin: -8px;
  padding: 40px;
  color: #fff;
  background-color: rgb(2, 168, 68);
  text-align: center;
}

.h1 {
  margin: 0;
  padding: 0;
}

.img {
  width: 450px;
}

.container {
  text-align: center;
  color: #333;
}

.biografia {
  padding: 10px;
  margin: 50px;
  background-color: #c9c9c9;
  max-width: 1900px;
}

footer {
  margin: 50px;
  text-align: center;
}
